.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App__upload {
    position: relative;
    color: #FFFFFF;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    border: none;
    padding: 10px;
    width: 20px;
    font-size: 30px;
    width: 200px;
    cursor: pointer;
    background: linear-gradient( to bottom right, #5ee0dc, #2e81e6);
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    border-radius: 7px;
}

.App__upload:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    background: linear-gradient( to top right, #5ee0dc, #2e81e6);
}

.App__upload:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.App__upload:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}